@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: system-ui, "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
}

/* Sidebar Section */

.sidebar {
    background-color: #1992D4;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 100vh;
    padding: 15px;
    color: white;
    font-weight: bolder;
    font-size: larger;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-links div,
.sidebar-links-2 div,
.logo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 75px 1fr;
    grid-template-rows: auto;
    margin-bottom: 1rem;
}

.sidebar p {
    align-self: center;
}

/* Change icons color from black to white and center them */
.sidebar img[alt*="icon"],
.logo img {
    filter: invert(100%) brightness(200%);
    justify-self: center;
}

.logo p {
    font-weight: 1000;
    font-size: x-large;
}

/* Header Section */

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 25vh;
    padding: 15px 30px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

header > div {
    display: grid;
    grid-auto-flow: column;
}

.search-bar-container {
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 0px 4rem;
}

.profile-shortcut {
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.profile-shortcut p {
    justify-self: start;
    font-weight: 800;
    font-size: larger;
}

#notification-icon {
    width: 30px;
    justify-self: end;
}

#small-profile-picture {
    width: 50px;
    border-radius: 50%;
}

#search-bar {
    height: 35px;
    border-radius: 15px;
    border: 0;
    background-color: #e2e2e2;
    padding: 10px 15px;
}

.profile-highlight {
    grid-template-columns: 125px 1fr;
    padding: 0 4rem;
    gap: 2rem;
    align-items: center;
}

#profile-picture {
    width: 125px;
    border-radius: 50%;
}

.profile-name-container {
    font-weight: 650;
}

.profile-name-container p:nth-child(2) {
    font-size: x-large;
}

button {
    height: 50px;
    border: 0;
    border-radius: 24px;
    background-color: #1992D4;
    color: white;
}

.header-buttons {
    align-items: center;
    gap: 30px;
    font-size: larger;
    font-weight: 700;
}

/* Main content section */

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 2rem;
    height: 75vh;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.main-cards {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}

.main-card {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.main-card div {
    display: grid;
    grid-auto-flow: column;
}

.announcement-card {
    grid-column: 2 / 3;
    grid-row: 1 / 2;   
}

.announcement-content {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    gap: 15px;
}

.trending-card {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trending-content {
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    display: grid;
    gap: 15px;
}

.trending-content > div {
    display: grid;
    grid-auto-flow: column;
}

/* Icon sizes  */

/* All icons */
img[alt*="icon"] {
    width: 35px;
}

.logo img {
    width: 50px;
}

.sidebar img[alt*="icon"] {
    width: 3rem;
}